<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <!-- Definition for textEditor bean by using constructor-->
  <!-- <bean id = "textEditor" class = "com.AutoWire.TextEditor">
      <constructor-arg  ref = "spellChecker" />
      <constructor-arg  value = "Generic Text Editor"/>
   </bean>
  
  -->
  
   <!-- Definition for textEditor bean by using byName-->
   <bean id = "textEditor" class = "com.Autowire.TextEditor" autowire = "byName">
      <property name = "name" value = "Generic Text Editor" />
   </bean>

   <!-- Definition for spellChecker bean -->
   <bean id = "spellChecker" class = "com.Autowire.SpellChecker"></bean>

</beans>